.metadata {
    padding: 1.25rem;
    background-color: #e5f2fb;
    border: 1px solid #6ca3e1;
    box-shadow: inset 0.5rem 0 0 0 #6ca3e1;
}

.metadata dt {
    flex: 0 0 25%;
    max-width: 25%;
}

.metadata dd {
    flex: 0 0 75%;
    max-width: 75%;
}

body.hxVertical main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(250, 250, 250);
    /*
       * +----------------+
       * | header         | auto
       * +------+---------+
       * | body | [aside] | 1fr
       * +------+---------+
       *   1fr    auto
       */
}

body.hxVertical main > * {
    order: 10;
    padding: 2rem;
    grid-area: body;
}

body.hxVertical main > header {
    background-color: #eeeeee;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0 0 1px;
    grid-area: header;
    order: 1;
    width: 100vw;
}

body.hxVertical main > header > * + * {
    margin-top: 0.75rem;
}

body.hxVertical main > aside {
    background-color: #ffffff;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0 0 1px;
    grid-area: aside;
    order: 3;
    width: 100%;
}

@supports (display: grid) {
    body.hxVertical main {
        display: grid;
        grid-template-areas: "header header" "body   aside";
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        overflow: visible !important;
    }
    body.hxVertical main > aside {
        border-width: 0 0 0 1px;
        min-width: 15rem;
        width: 25vw;
    }
}

body.hxVertical main > div > * + *,
body.hxVertical main > div > * + section {
    margin-top: 4.5rem;
}

body.hxVertical main > div > section > * + section {
    margin-top: 2rem;
}

body.hxVertical main > div > section > section > * + section {
    margin-top: 0.75rem;
}

body.hxVertical main > aside > * + * {
    margin-top: 2rem;
}

body.hxVertical.hxForm.beta main#content > header,
body.hxHorizontal.hxForm.beta main#content > header {
    background-color: #f5f5f5;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0 0 1px;
    padding: 2rem;
}

body.hxVertical.hxTopNav {
    height: 56px;
}

