/*
 Controls
 */

.wt-icon {
    height: 16px;
    width: 16px;
    display:inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 1px;
}

.wt-material-icon {
    height: 16px;
    width: 24px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 4px;
}

.wt-tree-icon {
    background: url(/images/blank.gif) no-repeat center center;
    height: 16px;
    width: 16px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.wt-datagrid-icon {
    background: url(/images/blank.gif) no-repeat center center;
    height: 16px;
    width: 16px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 2px;
}

.wt-grapher-icon {
    background: url(/images/blank.gif) no-repeat center center;
    height: 12px;
    width: 12px;
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
}

.wt-button-icon {
    font-size: 16px;
}

.wt-anno-icon {
    font-size: 16px;
    cursor: pointer;
}

/*
 Actions
 */

.wt-icon-delete {
    color: $negative;
}

.wt-icon-delete:before {
    content: "clear";
}

.wt-icon-add {
    color: black;
}

.wt-icon-add:before {
    content: "add";
}

.wt-icon-refresh {
    color: black;
}

.wt-icon-refresh:before {
    content: "refresh";
}

.wt-icon-help {
    color: black;
}

.wt-icon-help:before {
    content: "help";
}

.wt-icon-layers {
    color: black;
}

.wt-icon-layers:before {
    content: "format_indent_increase";
}

.wt-icon-null {
    color: black;
}

.wt-icon-null:before {
    content: "highlight_off";
}

/*
 Menu
 */

.wt-icon-dataset:before {
    content: "dataset";
}

.wt-icon-translate:before {
    content: "translate";
}
.wt-icon-groups:before {
    content: "groups";
}
.wt-icon-person:before {
    content: "person";
}

.wt-icon-admin_panel_settings:before {
    content: "admin_panel_settings";
}

.wt-icon-account_tree:before {
    content: "account_tree";
}

.wt-icon-edit_note:before {
    content: "edit_note";
}

.wt-icon-summarize:before {
    content: "summarize";
}

.wt-icon-hub:before {
    content: "hub";
}

.wt-icon-edit:before {
    content: "edit";
}

.wt-icon-construction:before {
    content: "construction";
}

.wt-icon-users:before {
    content: "construction";
}
.wt-icon-domain:before {
    content: "construction";
}
.wt-icon-type:before {
    content: "construction";
}
.wt-icon-genre:before {
    content: "construction";
}
.wt-icon-relationgroup:before {
    content: "construction";
}
.wt-icon-relationtype:before {
    content: "construction";
}
.wt-icon-layergroup:before {
    content: "construction";
}
.wt-icon-layertype:before {
    content: "construction";
}
.wt-icon-menu-frame:before {
    content: "construction";
}
.wt-icon-menu-corpus:before {
    content: "construction";
}
.wt-icon-menu-cxn:before {
    content: "construction";
}
.wt-icon-menu-lemma:before {
    content: "construction";
}
.wt-icon-menu-qualia:before {
    content: "construction";
}
.wt-icon-menu-constraint:before {
    content: "construction";
}
.wt-icon-menu-concept:before {
    content: "construction";
}
.wt-icon-menu-semantictype:before {
    content: "construction";
}
.wt-icon-lexicalAnnotation:before {
    content: "construction";
}
.wt-icon-cxnAnnotation:before {
    content: "construction";
}
.wt-icon-corpusAnnotation:before {
    content: "edit_note";
}
.wt-icon-staticFrameMode1:before {
    content: "collections";
}
.wt-icon-staticFrameMode2:before {
    content: "collections";
}
.wt-icon-framereport:before {
    content: "construction";
}
.wt-icon-lureport:before {
    content: "construction";
}
.wt-icon-cxnreport:before {
    content: "construction";
}
.wt-icon-corpusreport:before {
    content: "construction";
}
.wt-icon-fullgrapher:before {
    content: "construction";
}
.wt-icon-domaingrapher:before {
    content: "construction";
}
.wt-icon-ccngrapher:before {
    content: "construction";
}
.wt-icon-utilimport:before {
    content: "construction";
}
.wt-icon-utilwflex:before {
    content: "construction";
}
.wt-icon-registerwflex:before {
    content: "construction";
}
.wt-icon-registerlemma:before {
    content: "construction";
}
.wt-icon-importfulltext:before {
    content: "construction";
}
.wt-icon-exportcxnfs:before {
    content: "construction";
}
.wt-icon-exportcxnjson:before {
    content: "construction";
}

/*
 Buttons
 */

.wt-icon-frame__before:before {
    color: var(--wt-frame-color);
    content: var(--wt-frame-icon);
}

.wt-icon-lu__before:before {
    color: var(--wt-lu-color);
    content: var(--wt-lu-icon);
}

/*
 Frame Elements
 */

.wt-icon-fe-core {
    padding: 2px 2px 0 0;
    color: var(--wt-fe-core-color);
}

.wt-icon-fe-core:after {
    content: var(--wt-fe-core-icon);
}

.wt-icon-fe-core-unexpressed {
    padding: 2px 2px 0 0;
    color: var(--wt-fe-core-unexpressed-color);
}

.wt-icon-fe-core-unexpressed:after {
    content: var(--wt-fe-core-unexpressed-icon);
}
.wt-icon-fe-peripheral {
    padding: 2px 2px 0 0;
    color: var(--wt-fe-peripheral-color);
}

.wt-icon-fe-peripheral:after {
    content: var(--wt-fe-peripheral-icon);
}

.wt-icon-fe-extra-thematic {
    padding: 2px 2px 0 0;
    color: var(--wt-fe-extra-thematic-color);
}

.wt-icon-fe-extra-thematic:after {
    content: var(--wt-fe-extra-thematic-icon);
}

.wt-icon-fe-ni {
    padding: 2px 2px 0 0;
    color: black;
}

.wt-icon-fe-ni:after {
    content: var(--wt-fe-ni-icon);
}

/*
 Entity
 */

.wt-icon-frame {
    color: var(--wt-frame-color);
}

.wt-icon-frame:after {
    content: var(--wt-frame-icon);
}

.wt-icon-admin {
    color: var(--wt-admin-color);
}

.wt-icon-admin:after {
    content: var(--wt-admin-icon);
}

.wt-icon-cxn {
    color: var(--wt-cxn-color);
}

.wt-icon-cxn:after {
    content: var(--wt-cxn-icon);
}

.wt-icon-semantictype {
    color: var(--wt-semantictype-color);
}

.wt-icon-semantictype:after {
    content: var(--wt-semantictype-icon);
}

.wt-icon-lexicon {
    color: var(--wt-lexicon-color);
}

.wt-icon-lexicon:after {
    content: var(--wt-lexicon-icon);
}

.wt-icon-lu {
    color: var(--wt-lu-color);
}

.wt-icon-lu:after {
    content: var(--wt-lu-icon);
}

.wt-icon-corpus {
    color: var(--wt-corpus-color);
}

.wt-icon-corpus:after {
    content: var(--wt-corpus-icon);
}

.wt-icon-document {
    color: var(--wt-document-color);
}

.wt-icon-document:after {
    content: var(--wt-document-icon);
}

.wt-icon-sentence {
    color: var(--wt-sentence-color);
}

.wt-icon-sentence:after {
    content: var(--wt-sentence-icon);
}

.wt-icon-annotation {
    color: var(--wt-annotation-color);
}

.wt-icon-annotation:after {
    content: var(--wt-annotation-icon);
}

.wt-icon-annotation-static {
    color: var(--wt-annotation-static-color);
}

.wt-icon-annotation-static:after {
    content: var(--wt-annotation-static-icon);
}

.wt-icon-annotation-static-frame-mode-1 {
    color: var(--wt-annotation-static-frame-mode-1-color);
}

.wt-icon-annotation-static-frame-mode-1:after {
    content: var(--wt-annotation-static-frame-mode-1-icon);
}

.wt-icon-annotation-static-frame-mode-2 {
    color: var(--wt-annotation-static-frame-mode-2-color);
}

.wt-icon-annotation-static-frame-mode-2:after {
    content: var(--wt-annotation-static-frame-mode-2-icon);
}

.wt-icon-annotation-dynamic {
    color: var(--wt-annotation-dynamic-color);
}

.wt-icon-annotation-dynamic:after {
    content: var(--wt-annotation-dynamic-icon);
}

.wt-icon-utils {
    color: var(--wt-utils-color);
}

.wt-icon-utils:after {
    content: var(--wt-utils-icon);
}

.wt-icon-qualia {
    color: var(--wt-qualia-color);
}

.wt-icon-qualia:after {
    content: var(--wt-qualia-icon);
}

.wt-icon-qualia-agentive {
    color: var(--wt-qualia-agentive-color);
}

.wt-icon-qualia-agentive:after {
    content: var(--wt-qualia-icon);
}

.wt-icon-qualia-constitutive {
    color: var(--wt-qualia-constitutive-color);
}

.wt-icon-qualia-constitutive:after {
    content: var(--wt-qualia-icon);
}

.wt-icon-qualia-context {
    color: var(--wt-qualia-context-color);
}

.wt-icon-qualia-context:after {
    content: var(--wt-qualia-icon);
}

.wt-icon-qualia-formal {
    color: var(--wt-qualia-formal-color);
}

.wt-icon-qualia-formal:after {
    content: var(--wt-qualia-icon);
}

.wt-icon-qualia-telic {
    color: var(--wt-qualia-telic-color);
}

.wt-icon-qualia-telic:after {
    content: var(--wt-qualia-icon);
}

.wt-icon-user {
    color: var(--wt-user-color);
}

.wt-icon-user:after {
    content: var(--wt-user-icon);
}
/*
 Annotation Status
 */

.wt-icon-annotation-success {
    color: $positive;
}

.wt-icon-annotation-success:after {
    content: var(--wt-annotation-success-icon);
}

.wt-icon-annotation-warning {
    color: $warning;
}

.wt-icon-annotation-warning:after {
    content: var(--wt-annotation-warning-icon);
}

.wt-icon-annotation-error {
    color: $negative;
}

.wt-icon-annotation-error:after {
    content: var(--wt-annotation-error-icon);
}

/*


.material {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.wt-icon-menu {
    margin: -2px -8px 0px 0px;
}

.icon-blank{
    background:url('@/assets/images/easyui/blank.gif') no-repeat center center;
}

.wt-icon-search::before {
    content: " \e8b6";
}

.wt-icon-add::before {
    content: " \e145";
}

.wt-icon-delete:before {
    content: " \e872";
}

.wt-icon-cancel:before {
  content: " \e5c9";
}

.wt-icon-refresh::before {
    content: " \e5d5";
}

.wt-icon-edit::before {
    content: " \e3c9";
}

.wt-icon-save::before {
    content: " \e171";
}

.wt-icon-translate::before {
    content: " \e8e2";
}

.wt-icon-close::before {
    content: " \e5cd";
}

.wt-icon-help::before {
    content: " \e8fd";
}

.wt-icon-toolbar::before {
    content: " \ea3c";
}

.wt-icon-link::before {
    content: " \e157";
}

.wt-icon-more::before {
    content: " \e5d4";
}



.wt-icon-comment::before {
    content: " \e0b9";
}

.wt-icon-collapse::before {
    content: " \e5d7";
}

.wt-icon-ni::before {
    content: " \eb9f";
}

.wt-icon-layers::before {
    content: " \e8ef";
}


.wt-icon-admin::before {
    content: " \ef3d";
}

.wt-icon-structure::before {
    content: " \e97a";
}

.wt-icon-annotation::before {
    content: " \e745";
}

.wt-icon-report::before {
    content: " \f071";
}

.wt-icon-grapher::before {
    content: " \e80d";
}

.wt-icon-editor::before {
    content: " \e9a2";
}

.wt-icon-util::before {
    content: " \ea3c";
}

.wt-icon-user::before {
    content: " \e7fd";
}

.wt-icon-profile::before {
    content: " \e851";
}

.wt-icon-login::before {
    content: " \ea77";
}

.wt-icon-logout::before {
    content: " \e9ba";
}


.wt-icon-framex {
    i {
        color: red;
        content: " \eb36";
    }
}


.wt-icon-frame::before {
    color: var(--wt-color-frame);
    content: " \eb36";
}

.wt-icon-form::before {
  color: var(--wt-color-form);
  content: " \eb36";
}

.wt-icon-lexicon::before {
    color: var(--wt-color-lemma);
    content: " \eb36";
}

.wt-icon-lu::before {
    font-size:12px;
    color: var(--wt-color-lu);
    content: " \e911";
}

.wt-icon-cxn::before {
    color: var(--wt-color-cxn);
    content: " \eb36";
}

.wt-icon-corpus::before {
    color: var(--wt-color-corpus);
    content: " \e2c7";
}

.wt-icon-document::before {
    color: var(--wt-color-document);
    content: " \f1c4";
}


.wt-icon-fe-core::before {
    font-size:12px;
    color: var(--wt-color-fe);
    content: " \ef4a";
}

.wt-icon-fe-peripheral::before {
    font-size:12px;
    color: var(--wt-color-fe);
    content: " \e837";
}

.wt-icon-fe-extra-thematic::before {
    font-size:12px;
    color: var(--wt-color-fe);
    content: " \e836";
}

.wt-icon-fe-core-unexpressed::before {
    font-size:12px;
    color: var(--wt-color-fe);
    content: " \ef71";
}
*/
