.wt-icon-frame {
    color: $frame-color;
}

.wt-icon-frame:after {
    content: $frame-icon;
}

.wt-icon-admin {
    color: $admin-color;
}

.wt-icon-admin:after {
    content: $admin-icon;
}

.wt-icon-cxn {
    color: $cxn-color;
}

.wt-icon-cxn:after {
    content: $cxn-icon;
}

.wt-icon-semantictype {
    color: $semantictype-color;
}

.wt-icon-semantictype:after {
    content: $semantictype-icon;
}

.wt-icon-lexicon {
    color: $lexicon-color;
}

.wt-icon-lexicon:after {
    content: $lexicon-icon;
}

.wt-icon-lemma {
    color: $lemma-color;
}

.wt-icon-lemma:after {
    content: $lemma-icon;
}

.wt-icon-lexeme {
    color: $lexeme-color;
}

.wt-icon-lexeme:after {
    content: $lexeme-icon;
}
.wt-icon-wordform {
    color: $wordform-color;
}

.wt-icon-wordform:after {
    content: $wordform-icon;
}

.wt-icon-lu {
    color: $lu-color;
}

.wt-icon-lu:after {
    content: $lu-icon;
}

.wt-icon-corpus {
    color: $corpus-color;
}

.wt-icon-corpus:after {
    content: $corpus-icon;
}

.wt-icon-document {
    color: $document-color;
}

.wt-icon-document:after {
    content: $document-icon;
}

.wt-icon-sentence {
    color: $sentence-color;
}

.wt-icon-sentence:after {
    content: $sentence-icon;
}

.wt-icon-annotation {
    color: $annotation-color;
}

.wt-icon-annotation:after {
    content: $annotation-icon;
}

.wt-icon-annotation-static {
    color: $annotation-static-color;
}

.wt-icon-annotation-static:after {
    content: $annotation-static-icon;
}

.wt-icon-annotation-static-frame-mode-1 {
    color: $annotation-static-frame-mode-1-color;
}

.wt-icon-annotation-static-frame-mode-1:after {
    content: $annotation-static-frame-mode-1-icon;
}

.wt-icon-annotation-static-frame-mode-2 {
    color: $annotation-static-frame-mode-2-color;
}

.wt-icon-annotation-static-frame-mode-2:after {
    content: $annotation-static-frame-mode-2-icon;
}

.wt-icon-annotation-dynamic {
    color: $annotation-dynamic-color;
}

.wt-icon-annotation-dynamic:after {
    content: $annotation-dynamic-icon;
}

.wt-icon-utils {
    color: $utils-color;
}

.wt-icon-utils:after {
    content: $utils-icon;
}

.wt-icon-qualia {
    color: $qualia-color;
}

.wt-icon-qualia:after {
    content: $qualia-icon;
}

.wt-icon-qualia-agentive {
    color: $qualia-agentive-color;
}

.wt-icon-qualia-agentive:after {
    content: $qualia-agentive-icon;
}

.wt-icon-qualia-constitutive {
    color: $qualia-constitutive-color;
}

.wt-icon-qualia-constitutive:after {
    content: $qualia-constitutive-icon;
}

.wt-icon-qualia-context {
    color: $qualia-context-color;
}

.wt-icon-qualia-context:after {
    content: $qualia-context-icon;
}

.wt-icon-qualia-formal {
    color: $qualia-formal-color;
}

.wt-icon-qualia-formal:after {
    content: $qualia-formal-icon;
}

.wt-icon-qualia-telic {
    color: $qualia-telic-color;
}

.wt-icon-qualia-telic:after {
    content: $qualia-telic-icon;
}

.wt-icon-user {
    color: $user-color;
}

.wt-icon-user:after {
    content: $user-icon;
}

.wt-icon-master {
    color: $master-color;
}

.wt-icon-master:after {
    content: $master-icon;
}

.wt-icon-detail {
    color: $detail-color;
}

.wt-icon-detail:after {
    content: $detail-icon;
}

