/*
Webtool variables
 */

$frame-color: $red-10;
$frame-icon: "dashboard";
$fe-color: $grey-10;
$fe-core-color: $grey-8;
$fe-core-icon: " \ef4a";
$fe-core-unexpressed-color: $grey-8;
$fe-core-unexpressed-icon: " \ef71";
$fe-peripheral-color: $grey-8;
$fe-peripheral-icon: " \e837";
$fe-extra-thematic-color: $grey-8;
$fe-extra-thematic-icon: " \e836";
$fe-ni-color: $grey-8;
$fe-ni-icon: "pending";
$admin-color: black;
$admin-icon: "admin_panel_settings";
$cxn-color: $green-10;
$cxn-icon: "space_dashboard";
$semantictype-color: $orange-10;
$semantictype-icon: "category";
$lexicon-color: $blue-10;
$lexicon-icon: "abc";
$lemma-color: $blue-10;
$lemma-icon: "abc";
$lexeme-color: $blue-10;
$lexeme-icon: "abc";
$wordform-color: $blue-10;
$wordform-icon: "abc";
$lu-color: $blue-10;
$lu-icon: "abc";
$corpus-color: $blue-grey-5;
$corpus-icon: "folder_copy";
$document-color: $blue-grey-5;
$document-icon: "description";
$sentence-color: $blue-grey-5;
$sentence-icon: "short_text";
$annotation-color: black;
$annotation-icon: "edit_note";
$annotation-static-color: black;
$annotation-static-icon: "\e3f4";
$annotation-static-frame-mode-1-color: black;
$annotation-static-frame-mode-1-icon: "image";
$annotation-static-frame-mode-2-color: black;
$annotation-static-frame-mode-2-icon: "image";
$annotation-dynamic-color: black;
$annotation-dynamic-icon: "videocam";
$utils-color: black;
$utils-icon: "construction";
$qualia-color: black;
$qualia-icon: "device_hub";
$qualia-agentive-color: #e33357;
$qualia-agentive-icon: "device_hub";
$qualia-constitutive-color: #407e42;
$qualia-constitutive-icon: "device_hub";
$qualia-context-color: #e9a122;
$qualia-context-icon: "device_hub";
$qualia-formal-color: #5f479e;
$qualia-formal-icon: "device_hub";
$qualia-telic-color: #54c5af;
$qualia-telic-icon: "device_hub";
$user-color: black;
$user-icon: "person";
$master-color: $cyan-10;
$master-icon: "table_view";
$detail-color: $cyan-10;
$detail-icon: "view_list";
$status-success-icon: "check_circle";
$status-warning-icon: "error_outline";
$status-error-icon: "error";
