.wt-layout-browse {

    box-sizing: border-box;
    width:100vw;

    .actions {
        text-align: right;
    }

    //.nav {
    //    margin-top: 1rem;
    //    flex-grow: 0;
    //    //padding: var(--wt-mini-unit) 0 0 var(--wt-mini-unit);
    //    //height: var(--wt-row-control-unit);
    //    //background-color: var(--wt-bg-pane-nav);
    //    //flex-grow: 1;
    //
    //    .options {
    //        border-bottom: 1px solid var(--wt-border-panel-header);
    //    }
    //}

    .grid {
        height: 100%;
        margin: 0 !important;
        //flex-grow: 1;
        //overflow: auto;


        //.mainGrid {
        //    height: 100%;
        //    //-moz-border-radius: var(--wt-controls-border-radius);
        //    //-webkit-border-radius: var(--wt-controls-border-radius);
        //    //border-radius: var(--wt-controls-border-radius);
        //    //border: var(--wt-controls-border);
        //}
        //
        //.mainPane {
        //    height: 100%;
        //    //max-height: calc(100% - 0px) ;
        //    //flex: 1;
        //    //overflow: auto;
        //    //padding: var(--wt-unit);
        //    //background-color: var(--wt-bg-panel-header);
        //    //box-sizing: border-box;
        //}
    }

    //.new {
    //    height: calc(100% - 0px);
    //    padding: var(--wt-unit);
    //    background-color: var(--wt-bg-panel-header);
    //}
}
