.wt-layout-index {
    .main-header {

        .hxRow {
            .actions {
                text-align: right;

                a {
                    display: inline-block;
                    margin: var(--wt-mini-unit);
                }
            }
        }

    }
}
